# Rename this file to .env and fill in your details

# To use week1 to last week 
# 1. Your Gemini API Key
# Get it from: https://aistudio.google.com/app/apikey
GEMINI_API_KEY="your api key"

# To use week5
# 2. Your Email Credentials (Defaults to Gmail)
# NOTE: You MUST use an App Password. Standard account passwords will fail.
# To get passwprd for Gmail, go to Google Account -> Security -> 2-Step Verification -> App Passwords
EMAIL_ADDRESS="your Email"
EMAIL_APP_PASSWORD="follow the step above to get it"
